//.header { background: $head-bg; }
.header { background-image: url(/uploads/header_background.jpg); }

.header-inner { position: relative; }


@import "headerband";
@import "site-meta";
@import "site-nav";
@import "menu";
